<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <%- include('./partials/navbar.ejs') %>
        <div class="quote">
            <div class="prompt"></div>
            <div class="quoteText"><%= quoteText %></div>
            <div class="quoteAuthor">By <%= quoteAuthor %></div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>

<%- include('./partials/basement.ejs') %>
